doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet")

    title POS

  body
    .container
      block mainContent

    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
